<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemeParks"
            android:label="@string/theme_parks"/>
        <activity android:name=".PrivateTours"
            android:label="@string/private_tours"/>
        <activity android:name=".Adventures"
            android:label="@string/adventures"/>
        <activity android:name=".FoodAndDrink"
            android:label="@string/food_and_drink"/>
    </application>

</manifest>